#### Today is our first class
we are learning python

In [1]:
print('hello world!')

hello world!

# My name is Don

In [2]:
print ('python is a high level language')

python is a high level language

In [3]:
25+698*45424242424204245754

31706121212094563536317

In [6]:
r=int(input ('enter the value of r: '))
pi=22/7
area=pi*r**2
print('the area of a circle is ', area)

enter the value of r: 4
the area of a circle is  50.285714285714285

In [5]:
x=12.2
y=14
x=100

In [6]:
print (x)

100

In [4]:
print (y)

14

In [7]:
x=2
x=x+2
print (x)

4

In [9]:
x=0.6
x=3.9*x*(1-x)
print (x)

0.9359999999999999

In [11]:
5%3

2

In [12]:
xx=2
xx=xx+2
print (xx)

4

In [13]:
yy=440*12
print(yy)

5280

In [14]:
zz=yy/1000
print(zz)

5.28

In [15]:
jj=23
kk=jj%5
print(kk)

3

In [16]:
print (4**3)

64

In [17]:
zz=yy//1000
print(zz)

5

In [18]:
x=1+2**3/4*5
print(x)

11.0

In [19]:
ddd=1+4
print (ddd)

5

In [21]:
eee='hello'+' '+'there'
print(eee)

hello there

In [22]:
eee='hello'+1

TypeError: can only concatenate str (not "int") to str

In [23]:
eee='hello'+str(1)
eee

'hello1'

In [29]:
sval='123'
type(sval)
print(sval+1)

TypeError: can only concatenate str (not "int") to str

In [32]:
x=int(sval)
type (x)

int

In [33]:
print(x+1)

124

In [36]:
nam=input('who are you?')
print(nam)

who are you?5688
5688

In [37]:
type(nam)

str

In [38]:
inp=input('europe floor?')
usf=int(inp)+1
print('us floor', usf)

europe floor?0
us floor 1

In [41]:
inp=int(input('europe floor?'))
usf=inp+1
print('us floor', usf)

europe floor?0
us floor 1

In [47]:
x=int(input('enter hour'))
y=float(input('enter rate'))
pay=x*y

enter hour35
enter rate2.75

In [48]:
print(pay)

96.25